.image-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
}
.image-container img {
    width: 200px; 
    height: auto;
    border-radius: 10px; 
}

.h1{
    text-align: center;
}